<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora de liquidacion</h1>
    <form action="/calcular_ht">
        <div>
            Fecha de ingreso: (Formato = DD/MM/AAAA) <input type="str" name="fecha_ingreso">
        </div>
        <div>
            Fecha de retiro: (Formato = DD/MM/AAAA) <input type="str" name = "fecha_retiro">   
        </div>
        <div>
            Salario mensual: <input type = "number" name = "salario_mensual">
        </div>
        <input type = "submit" value = "Calcular">
    </form>
    <br>
    <a href="/crear_tabla">Si es la primera vez que usa la aplicacion, click acá para crear la tabla</a>
</body>
<footer>
    <p>&copy; 2026 Calculadora de Liquidación. Todos los derechos reservados.</p>
</footer>
</html>